.page-container {
  width: 100%;
  min-height: 100vh;
  font-family: roboto;
  display: flex;
  flex-direction: column;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
